<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<footer>
    Follow us on our social media pages at : 
    <a href="#" class="fa fa-twitter">twitter</a>
    <a href="#" class="fa fa-instagram">Instagram</a>
    <a href="#" class="fa fa-facebook">facebook</a>
</footer>