<head>
    <link rel="stylesheet" href="/style.css">
    <h1>"Okay I have something to say"</h1>
    <%- include("./partials/nav.ejs")%>
</head>
<p> 
A place to tell stories,anecdotes and anything that comes to mind."Always try to tell e story" is something my marketing professor always said
to help us in marketing, in reference to that this is a place you can tell a story,share your perspective and experiences with other people
</p>
<footer>
    <%- include("./partials/footer.ejs")%>     

</footer>