<!DOCTYPE html>
<link rel="stylesheet" href="/style.css">
<head>

    <h1>"Okay I have something to say"</h1>
    <%- include("./partials/nav.ejs")%>     
   
</head>
<div>
    <h1>All Blogs</h1>
    <% if(blogs.length > 0){%>
        <% blogs.forEach(blog => {%>
            <a class="red" href="./<%= blog._id %>">
            <h2 class="tit"><%=blog.title%></h2>
            <p class="para"><%=blog.snippet%></p>
        </a>
        <%})%>
   <% }%>

</div>