
#nav{
    text-align: right;
    font-size: 40px;
    background-color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

}
h1{
    font-family: sans-serif;
}
body{
    background-color: #eed9c4;
}
#blog{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
h1{
    color:darkgreen;
text-align: center;


}
.container{
    display:flex;
    flex-direction: column;
}
.delete:hover{
    cursor:pointer;
}